{% extends 'app/scheleton.html' %}

{% block content %}

    <div class=" container h-100" id="player_create_view">
		<div class="d-flex justify-content-center h-100">
			<div class="main-card mt-5">
				<div class="d-flex justify-content-center">
                    <h2 id="form-title" class="mt-2">Strona główna</h2>
				</div>
				<div class="d-flex justify-content-center form_container">
                    Witaj {{ request.user }}
				</div>
                <div class="d-flex justify-content-center form_container mb-4">
                    <span><i class="fas fa-trophy"></i></span>
                    <span><i class="fas fa-trophy mr-3 ml-3"></i></span>
                    <span><i class="fas fa-trophy"></i></span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}